asgiref==3.5.2
asn1crypto==0.24.0
blinker==1.4
Brlapi==0.6.6
certifi==2018.1.18
chardet==3.0.4
click==6.7
colorama==0.3.7
cryptography==2.1.4
cupshelpers==1.0
distlib==0.3.6
Django==4.1.2
django-utils-six==2.0
django-widget-tweaks==1.4.12
et-xmlfile==1.1.0
filelock==3.8.0
Flask==0.12.2
idna==2.6
isort==4.3.4
itsdangerous==0.24
Jinja2==2.10
keyring==10.6.0
keyrings.alt==3.0
louis==3.5.0
MarkupSafe==1.0
netifaces==0.10.4
olefile==0.45.1
openpyxl==3.0.10
pexpect==4.2.1
Pillow==5.1.0
platformdirs==2.5.2
pycairo==1.16.2
pycrypto==2.6.1
pycups==1.9.73
pygobject==3.26.1
pyinotify==0.9.6
pyOpenSSL==17.5.0
python-apt==1.6.5+ubuntu0.7
pytz==2018.3
pyxdg==0.25
PyYAML==3.12
reportlab==3.4.0
requests==2.18.4
SecretStorage==2.3.1
selenium==3.8.0
simplejson==3.13.2
six==1.11.0
sqlparse==0.4.3
ufw==0.36
urllib3==1.22
virtualenv==20.16.5
Werkzeug==0.16.0
